<div>
  <button
    id="jh-create-entity"
    data-cy="entityCreateButton"
    class="btn btn-primary jh-create-entity create-specifikacije"
    [routerLink]="['/ponude/new']"
  >
    <fa-icon icon="plus"></fa-icon>
    <span jhiTranslate="tenderApp.ponude.home.createLabel"> Create a new Ponudu </span>
  </button>
  <mat-form-field class="container-search">
    <mat-icon matPrefix>search</mat-icon>
    <input type="search" (keyup)="doFilter(box.value)" #box matInput placeholder="" />
  </mat-form-field>
  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>
  <div class="example-container mat-elevation-z8">
    <table mat-table id="ExampleTable" matTableExporter [dataSource]="dataSource" matSort matSortStart="desc">
      <ng-container matColumnDef="sifra postupka">
        <th mat-header-cell *matHeaderCellDef>Sifra Postupka</th>
        <td mat-cell *matCellDef="let element">{{ element.sifraPostupka }}</td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <ng-container matColumnDef="sifraPonude">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Sifra Ponude</th>
        <td mat-cell *matCellDef="let element">{{ element.sifraPonude }}</td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <ng-container matColumnDef="brojPartije">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Broj Partije</th>
        <td mat-cell *matCellDef="let element">{{ element.brojPartije }}</td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <ng-container matColumnDef="sifra ponudjaca">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Sifra Ponudjaca</th>
        <td mat-cell *matCellDef="let element">{{ element.sifraPonudjaca }}</td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <ng-container matColumnDef="naziv proizvodjaca">
        <th mat-header-cell *matHeaderCellDef>Proizvodjac</th>
        <td mat-cell *matCellDef="let element">{{ element.nazivProizvodjaca }}</td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <ng-container matColumnDef="zasticeni naziv">
        <th mat-header-cell *matHeaderCellDef>Zasticeni Naziv</th>
        <td mat-cell *matCellDef="let element">{{ element.zasticeniNaziv }}</td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <ng-container matColumnDef="ponudjena vrijednost">
        <th mat-header-cell *matHeaderCellDef>Ponudjena Cijena</th>
        <td mat-cell *matCellDef="let element">{{ element.ponudjenaVrijednost }}</td>
        <td mat-footer-cell *matFooterCellDef>Ukupno: {{ getTotalCost() }}</td>
      </ng-container>
      <ng-container matColumnDef="rok isporuke">
        <th mat-header-cell *matHeaderCellDef>Rok Isporuke</th>
        <td mat-cell *matCellDef="let element">{{ element.rokIsporuke }}</td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <ng-container matColumnDef="ponudjaci_id">
        <th mat-header-cell *matHeaderCellDef>Ponudjaci Id</th>
        <td mat-cell *matCellDef="let element">{{ element.ponudjaci_id }}</td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <ng-container matColumnDef="delete" stickyEnd>
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <button
            *jhiHasAnyAuthority="'ROLE_ADMIN'"
            type="submit"
            (click)="delete(element)"
            class="btn btn-danger btn-sm"
            data-cy="entityDeleteButton"
          >
            <fa-icon icon="times"></fa-icon>
            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
          </button>
        </td>

        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <ng-container matColumnDef="edit" stickyEnd>
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <button
            *jhiHasAnyAuthority="'ROLE_ADMIN'"
            type="submit"
            [routerLink]="['/ponude', element.id, 'edit']"
            class="btn btn-primary btn-sm"
            data-cy="entityEditButton"
          >
            <fa-icon icon="pencil-alt"></fa-icon>
            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
          </button>
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <tr class="heder" mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
    </table>
    <mat-paginator class="mat-paginator-sticky" [pageSizeOptions]="[20, 30, 50, 100]" showFirstLastButtons></mat-paginator>
  </div>
</div>
