<div>
  <button
    id="jh-create-entity"
    data-cy="entityCreateButton"
    class="btn btn-primary jh-create-entity create-specifikacije"
    [routerLink]="['/ponude/new']"
  >
    <fa-icon icon="plus"></fa-icon>
    <span jhiTranslate="tenderApp.ponude.home.createLabel"> Create a new Ponudu </span>
  </button>
</div>

<jhi-alert-error></jhi-alert-error>

<jhi-alert></jhi-alert>

<!--  <div class="alert alert-warning" id="no-result" *ngIf="ponudes?.length === 0">-->
<!--    <span jhiTranslate="tenderApp.ponude.home.notFound">No ponudes found</span>-->
<!--  </div>-->

<!--  <div class="table-responsive" id="entities" *ngIf="ponudes && ponudes.length > 0">-->
<!--    <table class="table table-striped" aria-describedby="page-heading">-->
<!--      <thead>-->
<!--        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">-->
<!--          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>-->
<!--          <th scope="col" jhiSortBy="sifraPostupka">-->
<!--            <span jhiTranslate="tenderApp.ponude.sifraPostupka">Sifra Postupka</span> <fa-icon icon="sort"></fa-icon>-->
<!--          </th>-->
<!--          <th scope="col" jhiSortBy="sifraPonude">-->
<!--            <span jhiTranslate="tenderApp.ponude.sifraPonude">Sifra Ponude</span> <fa-icon icon="sort"></fa-icon>-->
<!--          </th>-->
<!--          <th scope="col" jhiSortBy="brojPartije">-->
<!--            <span jhiTranslate="tenderApp.ponude.brojPartije">Broj Partije</span> <fa-icon icon="sort"></fa-icon>-->
<!--          </th>-->
<!--          <th scope="col" jhiSortBy="nazivProizvodjaca">-->
<!--            <span jhiTranslate="tenderApp.ponude.nazivProizvodjaca">Naziv Proizvodjaca</span> <fa-icon icon="sort"></fa-icon>-->
<!--          </th>-->
<!--          <th scope="col" jhiSortBy="zasticeniNaziv">-->
<!--            <span jhiTranslate="tenderApp.ponude.zasticeniNaziv">Zasticeni Naziv</span> <fa-icon icon="sort"></fa-icon>-->
<!--          </th>-->
<!--          <th scope="col" jhiSortBy="ponudjenaVrijednost">-->
<!--            <span jhiTranslate="tenderApp.ponude.ponudjenaVrijednost">Ponudjena Vrijednost</span> <fa-icon icon="sort"></fa-icon>-->
<!--          </th>-->
<!--          <th scope="col" jhiSortBy="rokIsporuke">-->
<!--            <span jhiTranslate="tenderApp.ponude.rokIsporuke">Rok Isporuke</span> <fa-icon icon="sort"></fa-icon>-->
<!--          </th>-->
<!--          <th scope="col" jhiSortBy="sifraPonudjaca">-->
<!--            <span jhiTranslate="tenderApp.ponude.sifraPonudjaca">Sifra Ponudjaca</span> <fa-icon icon="sort"></fa-icon>-->
<!--          </th>-->
<!--          <th scope="col" jhiSortBy="selected">-->
<!--            <span jhiTranslate="tenderApp.ponude.selected">Selected</span> <fa-icon icon="sort"></fa-icon>-->
<!--          </th>-->
<!--          <th scope="col" jhiSortBy="jedinicnaCijena">-->
<!--            <span jhiTranslate="tenderApp.ponude.jedinicnaCijena">Jedinicna Cijena</span> <fa-icon icon="sort"></fa-icon>-->
<!--          </th>-->
<!--          <th scope="col"></th>-->
<!--        </tr>-->
<!--      </thead>-->
<!--      <tbody>-->
<!--        <tr *ngFor="let ponude of ponudes; trackBy: trackId" data-cy="entityTable">-->
<!--          <td>-->
<!--            <a [routerLink]="['/ponude', ponude.id, 'view']">{{ ponude.id }}</a>-->
<!--          </td>-->
<!--          <td>{{ ponude.sifraPostupka }}</td>-->
<!--          <td>{{ ponude.sifraPonude }}</td>-->
<!--          <td>{{ ponude.brojPartije }}</td>-->
<!--          <td>{{ ponude.nazivProizvodjaca }}</td>-->
<!--          <td>{{ ponude.zasticeniNaziv }}</td>-->
<!--          <td>{{ ponude.ponudjenaVrijednost }}</td>-->
<!--          <td>{{ ponude.rokIsporuke }}</td>-->
<!--          <td>{{ ponude.sifraPonudjaca }}</td>-->
<!--          <td>{{ ponude.selected }}</td>-->
<!--          <td>{{ ponude.jedinicnaCijena }}</td>-->
<!--          <td class="text-end">-->
<!--            <div class="btn-group">-->
<!--              <button type="submit" [routerLink]="['/ponude', ponude.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">-->
<!--                <fa-icon icon="eye"></fa-icon>-->
<!--                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>-->
<!--              </button>-->

<!--              <button type="submit" [routerLink]="['/ponude', ponude.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">-->
<!--                <fa-icon icon="pencil-alt"></fa-icon>-->
<!--                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>-->
<!--              </button>-->

<!--              <button type="submit" (click)="delete(ponude)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">-->
<!--                <fa-icon icon="times"></fa-icon>-->
<!--                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>-->
<!--              </button>-->
<!--            </div>-->
<!--          </td>-->
<!--        </tr>-->
<!--      </tbody>-->
<!--    </table>-->

<div class="example-container mat-elevation-z8">
  <table
    class="example-container mat-elevation-z8"
    mat-table
    id="ExampleTable"
    matTableExporter
    [dataSource]="dataSource"
    matSort
    matSortStart="desc"
    #exporter="matTableExporter"
  >
    <ng-container matColumnDef="sifra postupka">
      <th mat-header-cell *matHeaderCellDef>Sifra Postupka</th>
      <td mat-cell *matCellDef="let element">{{ element.sifraPostupka }}</td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
    <ng-container matColumnDef="sifraPonude">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Sifra Ponude</th>
      <td mat-cell *matCellDef="let element">{{ element.sifraPonude }}</td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
    <ng-container matColumnDef="brojPartije">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Broj Partije</th>
      <td mat-cell *matCellDef="let element">{{ element.brojPartije }}</td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
    <ng-container matColumnDef="sifra ponudjaca">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Sifra Ponudjaca</th>
      <td mat-cell *matCellDef="let element">{{ element.sifraPonudjaca }}</td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
    <ng-container matColumnDef="naziv proizvodjaca">
      <th mat-header-cell *matHeaderCellDef>Proizvodjac</th>
      <td mat-cell *matCellDef="let element">{{ element.nazivProizvodjaca }}</td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
    <ng-container matColumnDef="zasticeni naziv">
      <th mat-header-cell *matHeaderCellDef>Zasticeni Naziv</th>
      <td mat-cell *matCellDef="let element">{{ element.zasticeniNaziv }}</td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
    <ng-container matColumnDef="ponudjena vrijednost">
      <th mat-header-cell *matHeaderCellDef>Ponudjena Cijena</th>
      <td mat-cell *matCellDef="let element">{{ element.ponudjenaVrijednost }}</td>
      <td mat-footer-cell *matFooterCellDef>Ukupno: {{ getTotalCost() }}</td>
    </ng-container>
    <ng-container matColumnDef="rok isporuke">
      <th mat-header-cell *matHeaderCellDef>Rok Isporuke</th>
      <td mat-cell *matCellDef="let element">{{ element.rokIsporuke }}</td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <ng-container matColumnDef="ponudjaci_id">
      <th mat-header-cell *matHeaderCellDef>Ponudjaci Id</th>
      <td mat-cell *matCellDef="let element">{{ element.ponudjaci_id }}</td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
    <ng-container matColumnDef="delete" stickyEnd>
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <button
          *jhiHasAnyAuthority="'ROLE_ADMIN'"
          type="submit"
          (click)="delete(element)"
          class="btn btn-danger btn-sm"
          data-cy="entityDeleteButton"
        >
          <fa-icon icon="times"></fa-icon>
          <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
        </button>
      </td>

      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
    <ng-container matColumnDef="edit" stickyEnd>
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <button
          *jhiHasAnyAuthority="'ROLE_ADMIN'"
          type="submit"
          [routerLink]="['/ponude', element.id, 'edit']"
          class="btn btn-primary btn-sm"
          data-cy="entityEditButton"
        >
          <fa-icon icon="pencil-alt"></fa-icon>
          <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
    <tr class="heder" mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
  </table>
  <mat-paginator class="mat-paginator-sticky" [pageSizeOptions]="[20, 30, 50, 100]" showFirstLastButtons></mat-paginator>
</div>
